.category-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image{
    height: 160px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 6px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.category-image:hover{
    transform: scale(1.05);
    filter: brightness(70%);
}

.category-text-name{
    font-size: 17px;
    font-weight: 500;
}

.font-Raleway {
  font-family: 'Raleway', sans-serif;
}