.font-Raleway {
    font-family: 'Raleway', sans-serif;
}

.single-post-container{
    display: flex;
    flex-direction: column;
    gap: 2;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.single-post-container:hover{
    transform: scale(1.05);
}

.post-image{
    height: 220px;
    width: 230px;
    border-radius: 10px;
}


