.discover-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.slide-show{
    position: relative;
    width: 100%;
    height: 450px;
}


.search-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    width: 75%;
    height: 60px;


    background: transparent;
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    backdrop-filter: blur(8px);

    color: #333;
    font-size: 16px;
    border: 2px solid rgb(72, 71, 71);
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.search-input{
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    flex: 1;
    font-size: 22px;
}

.search-input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.search-icon{
    cursor: pointer;
    color: #8a1bdf;
    font-weight: bolder;
}

.discover-container h1{
    text-align: center;
    font-family: "raleway", sans-serif;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.posts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 90%;
}

.image-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    max-width: 250px;
}

.image{
    height: 225px;
    width: 240px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image:hover{
    transform: scale(1.05);
    filter: brightness(70%);
}

.image-container p{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}