.search-item-container{
    display: flex;
    flex-direction: column;
    gap: 2;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.search-item-container:hover{
    transform: scale(1.05);
}

.search-image{
    height: 220px;
    width: 240px;
    border-radius: 10px;
}

.search-item-title{
    margin: 0;
}

.search-item-location{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}